.form {
  display: flex;
  flex-direction: column;
  margin-left: 20%;
  margin-right: 20%;
}

.button {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.form > * {
  margin-left: 20%;
  margin-right: 20%;
}

.input {
  width: 100%;
}

.button {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1%;
}
.title {
  text-align:center;
  position:relative;
  bottom:-20px;
  margin-bottom: 1% ;
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1%;
}
.container-btn .btn {
  position: relative;
  top: 20px;
  width: 250px;
  height: 50px;
  align-items: center;
}
.container-btn .btn button {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  letter-spacing: 1px;
  text-decoration: none;
  overflow: hidden;
  z-index: 1;
  transition: 0.5s;
  backdrop-filter: blur(15px);
}
.container-btn .btn:hover button {
  cursor: pointer;
  letter-spacing: 3px;
}
.container-btn .btn button::before {
  width: 50%;
  height: 100%;
  background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
  transform: skewX(45deg) translate(0);
  transition: 0.5s;
  filter: blur(0px);
}
.container-btn .btn:hover button::before {
  transform: skewX(45deg) translate(200px);
}
.container-btn .btn::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
  bottom: -5px;
  width: 30px;
  height: 10px;
  background: rgb(105, 106, 255);
  border-radius: 10px;
  transition: 0.5s;
  transition-delay: 0.5;
}
.container-btn .btn:hover::before /*lightup button*/ {
  bottom: 0;
  height: 50%;
  width: 80%;
  border-radius: 30px;
}

.container-btn .btn::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
  top: -5px;
  width: 30px;
  height: 10px;
  background: rgb(105, 106, 255);
  border-radius: 10px;
  transition: 0.5s;
  transition-delay: 0.5;
}
.container-btn .btn:hover::after /*lightup button*/ {
  top: 0;
  height: 50%;
  width: 80%;
  border-radius: 30px;
}